<!DOCTYPE html>
<html ng-app="colorApp">
<head>
	
<meta charset="utf-8"/>

<!--   Scripts   -->
<script src="assets/scripts/jquery.js"></script>
<script type="text/javascript" src="assets/scripts/pace.js"></script>
<script type="text/javascript" src="assets/scripts/angular.js"></script>
<script type="text/javascript" src="assets/scripts/app.js"></script>
<script type="text/javascript" src="assets/scripts/response.js"></script>
<script type="text/javascript" src="assets/scripts/jscolor.js"></script>
<script type="text/javascript" src="assets/scripts/colorScripts.js"></script>
<script type="text/javascript" src="assets/scripts/colorObjects.js"></script>

<!--   Styles   -->
<link rel="stylesheet" type="text/css" href="assets/styles/pace.css"/>

<link type="text/css" rel="stylesheet" href="assets/styles/font-awesome.css">
<link rel="stylesheet" type="text/css" href="assets/styles/base.css" />
<link rel="stylesheet" type="text/css" href="assets/styles/app.css" />
<link rel="stylesheet" type="text/css" href="assets/styles/response.css" />

<!--   Tab Info   -->
<title>Color Suite :: Single Page App Design</title>
<link rel="shortcut icon" href="assets/images/paint.ico" >
	
</head>

<body>
	<!--   Begin Navigation   -->
	<div id="nav">
		<ul id="navLeft">
			<li class="navLeft"><i class="fa fa-paint-brush"></i><span class="tred"> WebDesign</span><span>ColorSuite</span></li>
		</ul>
		<ul id="navRight">
			<li class="trans2 nevis">CONTACT</li>
			<li class="trans2 nevis">TOOLS</li>
			<li class="trans2 nevis">ABOUT</li>
		</ul>
		<ul id="hamenu">
			<li class="trans1"><i class="fa fa-navicon trans2"></i></li>
		</ul>
	</div>
	<!--   End Navigation   -->

	<!--   Begin Navigation Bodies   -->
	<div id="menu" ng-controller="Menu">
		<ul id="full">
			<li class="fullMenu" id="contactFull">
				<p class="segoeL"><span class="nevis">EMAIL:</span> <a href="{{ config.contact.email }}">{{ config.contact.email }}</a></p>
				<p class="segoeL"><span class="nevis">WORK:</span> {{ config.contact.work }}</p>
				<p class="segoeL"><span class="nevis">CELL: </span> {{ config.contact.cell }}</p>
			</li>
			<li class="fullMenu" id="toolsFull">
				<div id="toolMenu">
					<ul class="segoeL">
						<li ng-repeat="tool in tools" class="{{ tool.class }}" value="{{ '#' + tool.tabVal }}">{{ tool.name }} <i class="fa fa-chevron-right p-r-10"></i></li>
					</ul>
				</div>
				<div id="toolDesc">
					<div ng-repeat="tool in tools" id="{{ tool.tabVal }}" class="{{ tool.class }}">
						<img ng-src="{{ tool.image.src }}" alt="{{ tool.image.alt }}">
						<p>{{ tool.desc }}</p>
					</div>
				</div>
			</li>
			<li class="fullMenu" id="aboutFull">
				<p class="segoeL"><span class="nevis">VERSION:</span> <span class="tred">{{ config.version }}</span></p>
				<p class="segoeL"><span class="nevis">DESIGNED &amp; DEVELOPED:</span> {{ config.developer }}</p>
				<p class="segoeL"><span class="nevis">PURPOSE:</span> {{ config.purpose }}</p>
			</li>
		</ul>
	</div>

	<div id="compactMenu">
		<ul id="min">
			<!-- Minified About -->
			<li id="aboutMin" class="minTitle">
				<p class="nevis">ABOUT</p>
			</li>
			<li id="aboutExpand" class="minExpand">
				<br><br><p class="segoeL"><span class="nevis">VERSION:</span> 2.1</p>
				<p class="segoeL"><span class="nevis">DESIGNED &amp; DEVELOPED:</span> Alden J. Curnutt</p>
				<p class="segoeL"><span class="nevis">PURPOSE:</span> To provide a set of practical color management tools, in one place, for front end development</p>
			</li>

			<li id="contactMin" class="minTitle">
				<P class="nevis">CONTACT</P>
			</li>
			<li id="contactExpand" class="minExpand">
				<br><br><p class="segoeL"><span class="nevis">SID:</span> ajcurnu</p>
				<p class="segoeL"><span class="nevis">EMAIL:</span> <a href="mailto:">...</a></p>
				<p class="segoeL"><span class="nevis">TELEPHONE: </span> <span>U</span>... | <span>...</span>...</p>
			</li>
		</ul>
	</div>
	<!--   End Navigation Bodies   -->

	<!--   Begin Color Suite Body   -->
	<div id="bodyWrap" ng-controller="colorSuite">
		<div id="tabWrap">
			<ul class="nevis">
				<li ng-repeat="tool in toolList" value="{{ '#' + tool.tabVal }}" class="{{ tool.class }} trans2" title="{{ tool.title }}">{{ tool.name | uppercase }}</li>
			</ul>
		</div>

		<div id="contentWrap">
			<div id="tool-dynamic" class="content active">
				<div id="inputDiv">
					<input id="myColor" class="color {pickerClosable:true} segoe" value="#E1E6E6">
					<p class="segoe">Dynamic Color Palette</p>
				</div><br><br>
			</div><!-- End tab1 div -->

			<div id="tool-palette" class="content">
				<div id="selector">
					<select class="segoe" id="colorSelect" onchange="palette.select()">
						<option selected="selected">Select a color palette!</option>
						<option>See All Color Palettes</option>
					</select>
				</div>
				<table id="paletteTable" align="center"></table>
			</div><!-- End tab2 div -->
			
			<div id="tool-convert" class="content">
				<div id="convertWrap">
					<div id="convertChoice">
						<ul class="segoe">
							<li value="#tab5" class="active toRgb trans2">RGB | HEX</li>
							<li value="#tab6" class="toHex trans2">HEX | RGB</li>
						</ul>
					</div><!-- End convertChoice div -->

					<div id="convertBody">
						<div class="body active" id="tab5">
							<table>
								<tr class="height">
									<td class="title nevis">INPUT</td>
									<td class="spacer"></td>
									<td class="title nevis">OUTPUT</td>
								</tr>
								<tr>
									<td class="height">
										<input type="search"  id="rToHex" maxlength="3" placeholder=" Red: 0 - 255" class="input segoe inputShadow" />
									</td>
									<td class="height" rowspan="3"></td>
									<td id="HEXPreview" class="height preview segoeL" rowspan="3"></td>
								</tr>
								<tr>
									<td class="height">
										<input type="search" id="gToHex" maxlength="3" placeholder=" Green: 0 - 255" class="input segoe inputShadow" />
									</td>
								</tr>
								<tr>
									<td class="height">
										<input type="search"  id="bToHex" maxlength="3" placeholder=" Blue 0 - 255" class="input segoe inputShadow" />
									</td>
								</tr>				
								<tr>
									<td class="height" colspan="3">
										<div class="button trans2" onclick="convert.toHex()">
											<p>Convert</p>
										</div>						
									</td>
								</tr>
								<tr>
									<td class="height" colspan="3">
										<div id="toHexCreative" class="dynamic trans2" onclick="dynamic.single('hex')">
											<p>Modify</p>
										</div>						
									</td>
								</tr>						
							</table>
						</div><!-- End tab4 div -->

						<div class="body" id="tab6">
							<table>
								<tr class="height">
									<td class="title nevis">INPUT</td>
									<td class="spacer"></td>
									<td class="title nevis">OUTPUT</td>
								</tr>
								<tr>
									<td class="height"></td>
									<td class="height" rowspan="3"></td>
									<td id="RGBPreview" class="height preview segoeL" rowspan="3"></td>
								</tr>
								<tr>
									<td class="height">
										<input type="search"  id="toRgbInput" maxlength="7" placeholder=" HEX: 0-9 &amp; A-F" class="input segoe inputShadow" />
									</td>
								</tr>
								<tr>
									<td class="height"></td>
								</tr>				
								<tr>
									<td class="height" colspan="3">
										<div class="button trans2" onclick="convert.toRgb()">
											<p>Convert</p>
										</div>							
									</td>
								</tr>
								<tr>
									<td class="height" colspan="3">
										<!--<div id="toRgbCreative" class="dynamic trans3" onclick="tabs.activate('#tab1')">-->
										<div id="toRgbCreative" class="dynamic trans2" onclick="dynamic.single('rgb')">
											<p>Modify</p>
										</div>							
									</td>
								</tr>					
							</table>
						</div><!-- End tab5 div -->
					</div><!-- End convertBody div -->
				</div><!-- End convertWrap div -->
			</div><!-- End tab3 div -->
			
			<div id="tool-creative" class="content">
				<div id="creativeWrap">
					<div id="inputWrap">
						<input class="color {pickerClosable:true} segoe" id="color1" value="#ED1C24"></input>
						<input class="color {pickerClosable:true} segoe" id="color2" value="#683371"></input>
						<input class="color {pickerClosable:true} segoe" id="color3" value="#21409A"></input>
						<input class="color {pickerClosable:true} segoe" id="color4" value="#269939"></input>
						<input class="color {pickerClosable:true} segoe" id="color5" value="#FFF200"></input>
						<p class="creativeTitle">Creative Palette: <span>Default</span></p>
						<div id="creativeReset" class="trans2 segoe">Creative Palette Reset</div>
					</div>
				</div>
			</div><!-- End tab4 div -->
		</div>	
	</div>
	<!-- End Color Suite Body -->
</body>

</html>
