/*
   @site:     Web Design Color Suite
   @author:   Alden J. Curnutt
   @version:  0.1

   ===== Eric Meyer Reset ===== 
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block; 
}
body { 
	line-height: 1; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  

  /********************/ 
 /*   GENERAL TAGS   */
/********************/

html { 
	font-family: Arial, Helvetica, sans-serif; 
	overflow-y: scroll; 
	/*min-width: 1000px;*/
}
h1, h2, h3, h4, h5, h6 {
	margin: 1.5em 0 .833em; 
	font-weight: bold; 
	line-height: 1em;
}
h1, .h1 { font-size: 2em }
h2, .h2 { font-size: 1.6em }
h3, .h3 { font-size: 1.4em }
h4, .h4 { font-size: 1.2em }
h5, .h5 { font-size: 1.1em }
h6, .h6 { font-size: 1em }
p {
	margin: 1em 0;
}
em, i { 
	font-style: italic;
}
strong, b {
	font-weight: bold;
}
hr { 
	background-color: #fff; 
	border: 1px solid #fff; 
	border-top: 1px solid #aaa; 
	clear: both; 
	margin: 2em 0;
}


  /***********************/
 /*   GENERAL CLASSES   */
/***********************/

/*   clearfix hack [http://j.mp/bestclearfix]   */
.clearfix:before, .clearfix:after, .clearfix > .lastcol:after, .ffluid:after, br.cb {
	display: block; 
	height: 0 !important;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: "."
}
.clearfix:after { 
	clear: both;
}
.clearfix, .ffluid {
	*zoom: 1;
}
/* Nicole Sullivan zoom-fix hack [http://bit.ly/gpXFlK] */
.fcolholder:after, .fcolholder .lastcol:after, .ffluid:after {
	font-size: xx-large; 
	content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "
}
.fcolholder .lastcol { display:table-cell; 
	float: none; 
	width: auto !important; 
	*display: block; 
	*zoom: 1; 
	_position: relative; 
	_left: -3px; 
	_margin-right: -3px;
}


  /***************/
 /*   display   */
/***************/

.hidden { display: none !important; }
.hidden, .invisible { visibility: hidden !important; }

/*   centering   */
/*   vertical centering technique [http://www.jakpsatweb.cz/css/css-vertical-center-solution.html]   */
.vcenter { /* height of .vcenter element is required */ 
	overflow: hidden; 
	*position: relative; 
	display: table; 
	*display: block; 
}
.vcenter .outer{
	display: table-cell;
	vertical-align: middle; 
	width: 100%; 
	*position: absolute;
	*top: 50%;
}
.vcenter .inner { 
	*position: relative; 
	*top: -50%; 
}
.hcenter { /* width is required */
	margin-left: auto !important; 
	margin-right: auto !important;
}


  /********************/
 /*   text helpers   */
/********************/ 

.tcenter { text-align: center; }
.tleft { text-align: left; }
.tright { text-align: right; }
.tupper { text-transform: uppercase; }
.tlower { text-transform: lowercase; }
.tnormal { text-transform: none; }
.ttop { text-align: top; }
.tmiddle { text-align: middle; }
.tbottom { text-align: bottom; }

/*   font-styles   */
.b { font-weight: bold; }
.em { font-style: italic; }
.big { font-size: 1.166em; }
.small { font-size: .833em; }

/*   interaction helpers   */
.point, { cursor: pointer; }


